.header-bottom {
    display: inline-flex;  
    position: fixed;
    justify-content: center;
    height: 8vh;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: rgba(245, 245, 245, 0.075);
    color: black;
    box-shadow: 1px 1px 10px whitesmoke;
    border-radius:  0px 0px 10px 10px;
    transition-duration: 0.1s;

    &:hover{
        height: 12vh;
        box-shadow: 1px 1px 10px rgb(9, 235, 167);

        & > .button{
            & > a:nth-child(4) > button > i {
                border: none;
            }   
            
            & > h1{
                display: flex;
                position: relative;
                font-size: 20px;
                border-right: 2px solid black;
                width: 7rem;
            }

           & > a > button{
            visibility: visible;
           }
        }
    }
            & > .button {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2rem;
                flex-direction: row;
                margin-left: 3px;
                width: 80%;

                & > button > i {
     
                        border-bottom: 2px solid rgb(9, 235, 167);
                        height: 2.2rem;
                        width: 2.5rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    
                & > a {
                    text-decoration: none;

                    & > button{
                        display: flex;
                        border: none;
                        color: white;
                        font-family: "Playwrite DE VA", cursive;
                        font-size: 12px;
                        font-weight: 600;
                        width: 7rem;
                        height: 2rem;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;
                        visibility: hidden;
                        background-color: transparent;

                        & > i{
                            color: rgb(9, 235, 167);
                            font-size: 15px;
                            visibility: visible;
                        }

                        &:hover{
                            border-bottom: 3px solid rgb(9, 235, 167);
                        }
                    }
            }
    }
}

    ::-webkit-scrollbar {
        width: 1.1rem; /* Width of the scrollbar */
        scroll-behavior: smooth;
      }
      
      ::-webkit-scrollbar-thumb {
        background: linear-gradient(to bottom, rgb(9, 235, 167)0%, rgb(107, 253, 253) 50%,rgb(2, 253, 253)100%);
        border-radius: 10px;
      }
      
      ::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(to top, rgb(5, 231, 235) 0%, rgba(31,29,30,1) 100%);
      }
      
      ::-webkit-scrollbar-track {
        background: linear-gradient(to top, rgb(103, 103, 104) 0%, rgba(31,29,30,1) 100%);
    }

body{
    background: radial-gradient(circle, rgb(20, 20, 20) 0%, rgb(20, 20, 20) 100%);
}

#pop-up{
    display: flex;
    height: 10vh;
    margin-top: 11vh;
    padding-left: 50px;
    font-weight: 800;
    text-align: center;
    height: 8vh;
    width: 27rem;
    border-bottom: 10px solid blueviolet;
    font-size: 2rem;
    color: rgb(9, 235, 167);
    
}

.section1{
    display: flex;
    justify-content: center;
    height: 90vh;

        & > .holder{
            display: flex;
            height: 65vh;
            width: 20rem;
            background-color: rgba(255, 255, 255, 0.068);
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            border-radius: 20px;
            box-shadow: 1px 1px 15px rgba(137, 43, 226, 0.705);   
            margin-top: 2rem;

                    
            & > h2{
            color: blueviolet;
            font-weight: 800;
            
            }   

            & > input:nth-child(4){
                display: flex;
                height: 10rem;
                width: 15rem;

            }
            
        & > button{
                display: flex;
                height: 2.2rem;
                width: 6rem;
                justify-content: center;
                align-items: center;
                border: none;
                border-radius: 15px;
                background-color: blueviolet;
                font-weight: 700;
                transition: 0.2s ;

                &:hover{
                    border: 1.5px solid blueviolet;
                    background-color: whitesmoke;
                }
            }

         & > h1{
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 800;
            font-size: 30px;
            visibility: hidden;
            color: rgb(14, 241, 14);
            gap: 5px;
         }
            
            & > input{
                display: flex;
                height: 2rem;
                width: 15rem;
                border-radius: 7px;
                border: none;
                background-color: rgb(145, 139, 139);
                padding: 10px;
                
                &::placeholder{
                    font-size: 13px;
                    color: rgba(255, 255, 255, 0.425);
                }
               
            }
       
        }
    }

.section2 {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    background-color: green;

    & > .left{
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30%;
        gap: 2rem;

        & > i{
            color: orange;
            font-size: 10rem;
            animation: ball 2s infinite ease;
        }

        & > input{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            border-radius: 20px;
            border: 2px solid wheat;
            color: aliceblue;  
            padding: 10px;

            
            &::placeholder{
                text-align: center;
                color: whitesmoke;
            }
        }

        & > button {
            display: flex;
            border: 2px solid yellow;
            border-radius: 10px;
            padding: 10px;
            width: 7rem;
            font-weight: 800;
            color: yellow;
            justify-content: center;
            background-color: red;
        }
    }

    & > .right {
        display: flex;
        flex-direction: row ;
        gap: 3rem;
        height: 100%;
        width:70%;
        justify-content: center;
        align-items: center;
        font-size: 2rem;

     & > #output{
        display: flex;
        justify-items: center;
        align-items: center;
        text-align: center;
        font-size: 2rem;
        gap: 2rem;
        flex-wrap: wrap;
        color: red;
     }
        
    }
}

@keyframes ball {
    0%{

    }
    50%{
        transform:translateY(-50px) rotate(60deg) ;
    }
    100%{
        transform: translateY(0) rotate(0deg);
    }
}